// colors
$color-pale-pink: #ffdbda;
$color-shimmering-blush: #db7f8e;
$color-dark-liver: #604d53;
$color-quick-silver: #9da3a4;
$color-black-shadows: #d5c5c8;
$color-light-blue: #bfd7e3;

// direction
$direction: rtl;
$opposite-direction: ltr;
$start-direction: right;
$end-direction: left;
$transform-direction: -1;

// fonts
$titr-font: "BTitrBold", "Courier New", Courier, monospace;
$text-font: "BNazanin", "Times New Roman", Courier, monospace;
$slang-font: "BTitrTGEBold", Arial, Helvetica, sans-serif;

//
