$color:red;
$color-pale-pink:#ffdbda;
$color-shimmering-blush:#DB7F8E;
$color-dark-liver:#604D53;
$color-quick-silver:#9DA3A4;
$color-black-shadows:#D5C5C8;

/*** RTL websites ***/
$direction :rtl;
$opposite-direction :ltr;

$start-direction :right;
$end-direction :left;

$transform-direction :-1;
body{
    direction: $direction;
}
nav{
    display: flex;
    h3{
        margin-right: 1rem;
    }
}