@import "media-screen";
@import "variable";
@import "fonts.min";

/*** RTL websites ***/
*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  direction: $direction;
  color: $color-dark-liver;
}
:root {
  font-family: $text-font !important;
}
a {
  text-decoration: none !important;
  font-family: $text-font !important;
}
.Navbar {
  padding: 1rem;
}
%flex-display {
  display: flex;
}
%link-template {
  margin-left: 1rem;
  color: $color-dark-liver;
  font-size: 1rem;
  font-family: $text-font;
}
.nav-header {
  .nav-header-links,
  .nav-contact-links {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }

  .nav-header-links,
  .nav-contact-links {
    a {
      @extend %link-template;
    }
  }
  .nav-title {
    display: none;
    font-family: $text-font;
  }
  .vertical-seprator {
    width: 2px;
    height: 30px;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    background: $color-quick-silver;
    display: none;
  }
}
.nav-main-content {
  margin: 1rem 0;
  .logo {
    display: flex;
    a {
      font-size: 2rem;
      color: $color-dark-liver;
      display: block !important;
      align-self: center;
      margin: 0 0.4rem;
      font-family: $slang-font;
    }
  }
  .search-btn {
    border: none;
    outline: none;
    background: transparent;
    color: $color-dark-liver;
    font-size: 1.3rem;
  }
  .search-area {
    border: none;
    outline: none;
    border-bottom: $color-quick-silver 1px solid;
    padding: 0.6rem 0.8rem;
    width: 400px;
    &::placeholder {
      color: $color-dark-liver;
      font-family: $text-font;
      font-size: 1.2rem;
    }
  }
}
.nav-icons-links {
  a {
    @extend %link-template;
  }
}
.navbar-menus {
  @extend %link-template;
  color: $color-dark-liver !important;
  box-shadow: 2px 6px 9px 0px rgba(50, 47, 47, 0.75);
  -webkit-box-shadow: 2px 6px 9px 0px rgba(50, 47, 47, 0.75);
  -moz-box-shadow: 2px 6px 9px 0px rgba(50, 47, 47, 0.75);
  .dropdown-toggle {
    color: $color-dark-liver;
  }
  .product-title {
    color: $color-dark-liver;
    text-align: right;
    font-weight: bold;
  }
  .dropdown-item {
    display: flex;
    // position: absolute;
    // left: 0;
    // top: 0;
  }
  a {
    @extend %link-template;
  }
  .dropdown-toggle:hover {
    .dropdown-menu {
      display: block;
      margin-top: 0; // remove the gap so it doesn't close
    }
  }
}
.carousel-container {
  margin: 2rem;
  display: grid;
  place-items: center;
  .carousel {
    width: 400px;

    .sr-only {
      display: none;
    }
  }

  .carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23604d53'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  }
  .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23604d53'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
    // background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff0000' viewBox='0 0 8 8'%3E%3Cpath d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
    // color: black;
  }
}

/* Fix for flickering carousel */
.carousel-inner .carousel-item {
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  display: block;
  position: absolute;
}
.carousel-inner .carousel-item:first-of-type {
  position: relative;
}
.carousel-inner .active {
  opacity: 1;
}
/* End of fix */
.banner {
  width: 90vw;

  h4 {
    text-align: center;
    color: $color-dark-liver;
    font-family: $titr-font;
    margin-bottom: 1rem;
  }

  &-img {
    background: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.5)
      ),
      url("/img/banner-img.jpg") center/cover no-repeat fixed;
    padding: 3rem 6rem !important;
    font-size: 1.5rem;
    color: $color-shimmering-blush;
    span {
      color: $color-light-blue;
    }
  }
}
.section {
  max-width: 90vw;
  margin: 2rem auto;
  &-title {
    text-align: center;
    font-family: $titr-font;
    color: $color-dark-liver;
    margin-bottom: 1rem;
  }
}

// .home-agencies-img {
//   position: relative;
//   &::before {
//     content: "";
//     display: block;
//     border: red solid 5px;
//     width: 100%;
//     height: 100%;
//     position: absolute;
//     left: -1.5rem;
//     top: -1.5rem;
//     z-index: -1;
//   }
// }

.home-agencies {
  font-family: $text-font;
  color: $color-dark-liver;
  display: flex;
  max-width: 85%;
  font-size: 1.2rem;
  line-height: 1.2;
  justify-content: space-around;
  .home-agencies-description {
    flex: 0 1 50%;
    align-self: center;
  }
}

.home-agencies-img,
.home-agencies-picture {
  position: relative;
  width: 400px;
  height: 400px;
}
.home-agencies-img::before,
.home-agencies-picture::before {
  content: "";
  display: block;
  border: $color-light-blue solid 10px;
  width: 100%;
  height: 100%;
  position: absolute;
  left: -1rem;
  top: -1rem;
}

.light-btn {
  display: inline-block;
  background: $color-pale-pink;
  font-weight: bold;
  padding: 0.6rem 1rem;
  color: $color-quick-silver;
  font-size: 1.6rem;
  margin-top: 1rem;
}
