@import 'media-screen';
@import 'variable';



/*** RTL websites ***/
$direction :rtl;
$opposite-direction :ltr;

$start-direction :right;
$end-direction :left;

$transform-direction :-1;
body{
    direction: $direction;
}
a{
    text-decoration: none;
}
.Navbar{
  padding: 1rem;
}
 %flex-display{
     display:flex;
 } 
.nav-header {
            .nav-header-links 
            ,.nav-contact-links {
                display: flex;
                justify-content: space-between;
                margin-bottom: 1rem;
            }
            
    
    .nav-header-links,
    .nav-contact-links {
        a {
            margin-left: 1rem;
            text-decoration: none;
            color:$color-dark-liver;
            }
    }
   .nav-title{
       display:none;
   }
   .vertical-seprator{
       width: 2px;
       height:30px;
       margin-left:0.2rem;
       margin-right:0.2rem;
       background:$color-quick-silver;
       display:none;
   }
}
